.App {
  text-align: center;
  width: 100%;
}

 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
div {
  border: 1px solid red; 
  padding: 3px;
  box-sizing: border-box;
}
.row {
  border: 1px solid blue;
}
.leaf-label {
  display: block;
  width: 100%;
  height: 25px;
  margin: 0;
  padding: 3px 0;
  box-sizing: border-box;
}
.leaf-input {
  width: 100%; 
  margin: 0; 
  box-sizing: border-box;
}